* {
  border: none;
  font-family: "Fira Sans Semibold", Roboto, Arial, sans-serif;
  font-size: 12px;
  color: #ffffff;
}

#waybar {
  background: rgba(0, 0, 0, 0.75);
}

#window {
  margin-left: 12px;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 4px;
}

/*-----modules indv----*/
#workspaces button {
  padding: 1px 5px;
  border-radius: 50%;
  margin-right: 4px;
  background-color: rgba(0, 43, 51, .85);
}
#workspaces button:not(.active):hover {
	background-color: rgba(0,153,153,1);
}
#workspaces button.active {
	background-color: rgb(0,153,153);
}

#workspaces button.empty {
  background-color: transparent;
  border: 1px solid rgba(0, 43, 51, .85);
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-menu,
#language {
  margin: 0 4px;
}

#mode {
    color: #cc3436;
    font-weight: bold;
}

#custom-power {
    background-color: rgba(0,119,179,0.6);
    border-radius: 50%;
    margin: 5px 5px;
    padding: 1px 1px 1px 6px;
}

/*-----Indicators----*/
#idle_inhibitor.activated {
    color: #2dcc36;
}
#idle_inhibitor.deactivated {
  opacity: .5;
}

#pulseaudio.muted {
    color: #cc3436;
}
#battery.charging {
    color: #2dcc36;
}
#battery.warning:not(.charging) {
	color: #e6e600;
}
#battery.critical:not(.charging) {
    color: #cc3436;
}
#temperature.critical {
    color: #cc3436;
}
